<h1><%= t('view.tasks.link_to_edit_task') %></h1>

<%= render 'form', task: @task %>

<%= link_to t('view.tasks.link_to_show_task'), @task %> |
<%= link_to t('view.tasks.link_to_index_task'), tasks_path %>
