.space10 {
  margin-left: 1rem;
}
.td_link_to_new_task {
  width: 14rem;
}
.td_link_to_order_change {
  width: 12rem;
}
.td_link_to_order_change_deadline {
  width: 16rem;
}
.td_link_to_order_change_priority {
  width: 30rem;
}
.td_conditional_search_title {
  color: #228b22;
  width: 10rem;
  font-weight: bold;
}
.td_task_name_title {
  color: #228b22;
  width: 6rem;
}
.td_task_name_area {
  width: 16rem;
}
.td_task_status_title {
  color: #228b22;
  width: 6rem;
}
.td_task_status_area {
  width: 10rem;
}
.task_input_aria tr {
  height: 4rem;
}
.task_input_aria td {
  width: 10rem;
}
.user_input_aria tr {
  height: 4rem;
}
.user_input_aria td {
  width: 12rem;
}
